* {
    margin: 0;
    padding: 0;
}
.menu ul a {
    text-decoration: none;
    color: #696969;
}
.menu ul a:hover {
    color: #adad90;
    }
.container {
    width: 1370px;
    margin: auto auto auto 0px;
    height: 120px;
}
.menu {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.menu ul li {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
    padding: 15px 30px;
}
.menu img {
    margin: 5px;
    }
.menu img:hover {
    opacity: 0;
 }
.top{
    background-color:deepskyblue;
}
.search {
    position: absolute;
}
.search span {
    background-color: chocolate;
    height: 30px;
    width: 30px;
    }
#imgSearch {
    
}
#txtTimKiem {
    height: 30px;
    width: 300px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 5px;
    transition: all .4s;
}
#btTimKiem {
    height: 30px;
    width: 80px;
    background-color:chocolate;
}
#imgLogo{
    height:130px;
    width:160px;
}
.login {
    margin-left: 1100px;
    padding: 10px;
    opacity: 1;
}
